extends layout

block content
    h1 history
    p: a(href='/events') events
    div#history
        each item in history
            //- Either display "parent:child" or just "parent"
            - var name = item.subname ? item.name + ":" + item.subname : item.name
            div.event-history.event-name #{name}
            div.event-history.event-time #{item.timestamp}
