extends layout

block content
    h1 history
    p: a(href='/events') events
    div#history
        table
            each item in history
                tr
                    //- Either display "parent:child" or just "parent"
                    - var name = item.subname ? item.name + ":" + item.subname : item.name
                    td #{name}
                    td #{item.timef}
                    td #{item.timestamp}
