extends layout

block content
    h1= title
    p: a(href='/history') history
    div#events
        each item in events
            //- Either display "parent:child" or just "parent"
            - var name = item.ev ? item.pev + ":" + item.ev : item.pev
            a.event(href='#', data-pev=item.pev, data-ev=item.ev) #{name}
            br
