extends layout

block content
    h1= title
    div#eventTree
        each item in eventList
            div.event-history.event-name #{item.pev}/#{item.ev}
            div.event-history.event-time #{item.timestamp}
