doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')

        script(type='text/javascript', src='/js/lib/jquery.js')
        script(type='text/javascript', src='/js/lib/jquery-ui.js')
        script(type='text/javascript', src='/js/lib/underscore.js')
        script(type='text/javascript', src='/js/lib/json2.js')
        script(type='text/javascript', src='/js/lib/backbone.js')
        script(type='text/javascript', src='/js/lib/deep-model.js')
        script(type='text/javascript', src='/js/lib/sprintf.js')
        script(type='text/javascript', src='/js/lib/handlebars.js')

        script(type='text/javascript', src='/js/EventTree.js')
        script(type='text/javascript', src='/js/views/IndexView.js')
        script(type='text/javascript', src='/js/init.js')
    body
        block content
