doctype 5
html(xml:lang="en")
    head
        meta(charset='UTF-8')
        meta(name='google', value='notranslate')
        meta(http-equiv='Content-Language', content='en')

        title dividers
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')

        script(type='text/javascript', src='/js/lib/jquery.js')
        script(type='text/javascript', src='/js/lib/jquery-ui.js')
        script(type='text/javascript', src='/js/lib/underscore.js')
        script(type='text/javascript', src='/js/lib/json2.js')
        script(type='text/javascript', src='/js/lib/backbone.js')
        script(type='text/javascript', src='/js/lib/deep-model.js')
        script(type='text/javascript', src='/js/lib/sprintf.js')
        script(type='text/javascript', src='/js/dividers.js')
    body
        block content
