extends layout
block content

    h1(style='color:#aaa') visualize
    h2 
        a(href='/visualize/stack') stack
        br
        a(href='/visualize/dividers') dividers
        br
        a(href='/visualize/histogram') histogram
        br
        a(href='/visualize/pie') pie
