extends layout
block content

    h2 
        a(href='/visualize/stack') stack
        br
        a(href='/visualize/dividers') dividers
        br
        a(href='/visualize/histogram') histogram
        br
        a(href='/visualize/pie') pie
