body {
    padding:50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

tr.newDay td {
    border-top:1px solid black;
}

.btn-flat {
    border:none;
    background-color:#eee;
    border-radius:4px;
    font-weight:bold;
}

.btn-flat:hover {
    background-color:#aaa;
    color:white;
}

.btn-flat:active {
    background-color:yellow;
    color:black;
}
