body {
    padding:50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

tr.newDay td {
    border-top:1px solid black;
}

input {
    margin-right:4px;
}

input[name="offset"] {
    margin:0 2px;
    width:2em;
}

select {
    margin:0 2px; !important
}

.text-light {
    color: #ccc;
}

.nav {
    color: #ddd;
}

.stack-block {
    width:100%;
    margin:0;
    margin-bottom:5px;
    background-color:#333;
    display:block;
    float:left;
    /* box-shadow: 2px 2px 50px 3px #555; */
}

.empty {
    margin:0;
    margin-bottom:5px;
    float:left;
    width:100%;
}

.stack-text {
    width:100%;
    margin:0;
    margin-bottom:5px;
    display:block;
    float:left;
}

.center-text {
    text-align:center;
}

.day-row {
    width:100%;
    height:40px;
    display:block;
    margin:0;
}

.row-block {
    background-color:#333;
    float:left;
    height:40px;
    display:block;
}
