body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.event-list {
    float:left;
}

#history td {
    font-family:"Monospace", monospace;
    padding:0 5px;
}

.delete-event {
    width:200px;
}
